@font-face {
  font-family: "Norse-Bold";
  src: url("./fonts/Norse-Bold.otf");
}

body {
  margin: 0;
  font-family:  Helvetica, Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.image-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  width: 30vw;
}

.logo {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  color: white;
  margin-top: 20vh;
  height: 13vh;
  font-family: "Norse-Bold", sans-serif;
  padding: 12px 0px;
  font-size: 4vh;
}

.logo h1 {
  display: flex;
  align-self: center;
  margin: 0;
}

.credits {
  display: flex;
  color: white;
  justify-content: center;
}

.credits a {
  color: white;
}

.credits a:visited {
  color: white;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70vw;
}

.header {
}

.form {
}

.footer {
}
